.Register {
    margin: 60px auto;
    padding: 30px;
}

.Register h2 {
    font-weight: 900;
    font-style: italic;
    font-size: 24px;
}

@media(min-width: 500px){
    .Register{
        width: 500px;
        margin: 70px auto;
    }

    .Register h2 {
        font-size: 34px;
    }
}