.Login {
    margin: 110px auto;
    padding: 30px;
}

.Login h2 {
    font-weight: 900;
    font-style: italic;
    font-size: 24px;
}

@media(min-width: 500px) {
    .Login {
        width: 500px;
        margin: 100px auto;
    }

    .Login h2 {
        font-size: 34px;
    }
}