.Spinner {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
.Spinner:after {
  content: " ";
  display: block;
  width: 44px;
  height: 44px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #0b0438 transparent #0b0438 transparent;
  animation: Spinner 1.2s linear infinite;
}
@keyframes Spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
  