.Todo {
    margin: auto;
    padding: 5px;
}

.Todo_header {
    color: #0b0438;
    margin-bottom: 10px;
}

.Todo_header h2 {
    float: left;
    font-size: 36px;
}

.Todo_header h5 {
    float: right;
    font-size: 16px;
    background-color: #0b0438;
    padding: 12.5px;
    color: #ccc;
    transform: rotate(-6deg);
    display: inline-block;
}

.Todo_header input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 15px;
    float: left;
    font-size: 16px;
    font: inherit;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.Todo_header input:focus {
    outline: none;
    border: 1px solid #0b0438;
}

.Todo_header button {
    outline: none;
    padding: 15px;
    width: 25%;
    background: #3f4858;
    color: white;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transform: 0.3s;
    border-radius: 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.ClearFix {
    clear: both;
}

.Lists {
    margin: 0;
    padding: 0;
    
}

.Lists li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #0b0438;
    color: white;
    font: inherit;
    font-size: 18px;
    transition: 0.2s;
    user-select: none;
}

.Lists span {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px;
}

.Checked {
    text-decoration: line-through;
}

.Checked::before {
    content: '';
    position: absolute;
    border-color: #ccc;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

@media(min-width: 500px){
    .Todo {
        width: 600px;
        margin: auto;
    }
}